<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IAdministratorService" />
                <binding name="BasicHttpBinding_IFlightService" />
                <binding name="BasicHttpBinding_IRouteService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/AdministratorService"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAdministratorService"
                contract="AdministratorService.IAdministratorService" name="BasicHttpBinding_IAdministratorService" />
            <endpoint address="http://localhost:8733/FlightService" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IFlightService" contract="FlightService.IFlightService"
                name="BasicHttpBinding_IFlightService" />
            <endpoint address="http://localhost:8733/RouteService" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IRouteService" contract="RouteService.IRouteService"
                name="BasicHttpBinding_IRouteService" />
        </client>
    </system.serviceModel>
</configuration>