<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IAdministratorService" />
                <binding name="BasicHttpBinding_IFlightService" />
                <binding name="BasicHttpBinding_IRouteService" />
                <binding name="BasicHttpBinding_IAdministratorService1" />
                <binding name="BasicHttpBinding_IAirportService1" />
                <binding name="BasicHttpBinding_IFlightService1" />
                <binding name="BasicHttpBinding_IPlaneService" />
                <binding name="BasicHttpBinding_IRouteService1" />
                <binding name="BasicHttpBinding_IUserService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/AdministratorService"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAdministratorService"
                contract="AdministratorService.IAdministratorService" name="BasicHttpBinding_IAdministratorService" />
            <endpoint address="http://localhost:8733/FlightService" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IFlightService" contract="FlightService.IFlightService"
                name="BasicHttpBinding_IFlightService" />
            <endpoint address="http://localhost:8733/RouteService" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IRouteService" contract="RouteService.IRouteService"
                name="BasicHttpBinding_IRouteService" />
            <endpoint address="http://localhost:8733/MainService/Administrator"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAdministratorService1"
                contract="MainServiceReference.IAdministratorService" name="BasicHttpBinding_IAdministratorService1" />
            <endpoint address="http://localhost:8733/MainService/Airport"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAirportService1"
                contract="MainServiceReference.IAirportService" name="BasicHttpBinding_IAirportService1" />
            <endpoint address="http://localhost:8733/MainService/Flight"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFlightService1"
                contract="MainServiceReference.IFlightService" name="BasicHttpBinding_IFlightService1" />
            <endpoint address="http://localhost:8733/MainService/Plane" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IPlaneService" contract="MainServiceReference.IPlaneService"
                name="BasicHttpBinding_IPlaneService" />
            <endpoint address="http://localhost:8733/MainService/Route" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IRouteService1" contract="MainServiceReference.IRouteService"
                name="BasicHttpBinding_IRouteService1" />
            <endpoint address="http://localhost:8733/MainService/User" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IUserService" contract="MainServiceReference.IUserService"
                name="BasicHttpBinding_IUserService" />
        </client>
    </system.serviceModel>
</configuration>