<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IAdministratorService">
                    <security mode="TransportCredentialOnly">
                        <transport clientCredentialType="Windows" />
                    </security>
                </binding>
                <binding name="BasicHttpBinding_IAirportService" />
                <binding name="BasicHttpBinding_IFlightService" />
                <binding name="BasicHttpBinding_IPlaneService" />
                <binding name="BasicHttpBinding_IRouteService" />
                <binding name="BasicHttpBinding_IUserService" />
                <binding name="BasicHttpBinding_IDijkstra" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/MainService/Administrator"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAdministratorService"
                contract="MainService.IAdministratorService" name="BasicHttpBinding_IAdministratorService" />
            <endpoint address="http://localhost:8733/MainService/Airport"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAirportService"
                contract="MainService.IAirportService" name="BasicHttpBinding_IAirportService" />
            <endpoint address="http://localhost:8733/MainService/Flight"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFlightService"
                contract="MainService.IFlightService" name="BasicHttpBinding_IFlightService" />
            <endpoint address="http://localhost:8733/MainService/Plane" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IPlaneService" contract="MainService.IPlaneService"
                name="BasicHttpBinding_IPlaneService" />
            <endpoint address="http://localhost:8733/MainService/Route" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IRouteService" contract="MainService.IRouteService"
                name="BasicHttpBinding_IRouteService" />
            <endpoint address="http://localhost:8733/MainService/User" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IUserService" contract="MainService.IUserService"
                name="BasicHttpBinding_IUserService" />
            <endpoint address="http://localhost:8733/MainService/Dijkstra"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDijkstra"
                contract="MainService.IDijkstra" name="BasicHttpBinding_IDijkstra" />
        </client>
    </system.serviceModel>
</configuration>